<h1>Sprawozdanie</h1>

<h2>Systemy inteligentne w biznesie<br>
 Czyszczenie danych</h2>
                                  
<h3>Wiktoria Paciuch</h3>

<h4>Wczytanie zbioru danych</h4>

In [1]:
messyData = read.table(file = 'TitanicMess.tsv', sep = '\t', header = TRUE)
messyData<-as.data.frame(messyData)

<h4>Wczytany zbi√≥r danych</h4>

In [2]:
messyData

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
14  11          1        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
24  11          1        3
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
... ...         ...      ...
863  863        1        1
864  864        0        3
865  865        0        2
866  866        1        2
867  867        1        2
868  868        0        1
869  869        0        3
870  870        1        3
871  871        0        3
872  872        1        1
873  873        0        1
874  874        0        3
875  875        1        2
876  876        1        3
877  877        0        3
878  878        0        3
879  879        0        3
880  880        1        1
881  881        1        2
882  882        0        3
883  883        0        3
884  884        0        2
885  885        0        3
886  886        0        3
887  887        0        2
888  888        1        1
889  889        0        3
890  890        1        1
891  891        0        3
892 1000        1        1
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   22  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 38  1
3   Heikkinen, Miss. Laina                                    female 26  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 35  1
5   Allen, Mr. William Henry                                  male   35  0
6   Moran, Mr. James                                          male       0
7   McCarthy, Mr. Timothy J                                   male   54  0
8   Palsson, Master. Gosta Leonard                            male   2   3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 27  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 14  1
11  Sandstrom, Miss. Marguerite Ru&5$$                        female 4   1
12  Bonnell, Miss. Elizabeth                                  female 58  0
13  Saundercock, Mr. William Henry                            male   20  0
14  Sandstrom, Miss. Marguerite Ru&5$$                        female 4   1
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 14  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 55  0
17  Rice, Master. Eugene                                      male   2   4
18  Williams, Mr. Charles Eugene                              male       0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 31  1
20  Masselmani, Mrs. Fatima                                   female     0
21  Fynney, Mr. Joseph J                                      male   35  0
22  Beesley, Mr. Lawrence                                     malef  34  0
23  McGowan, Miss. Anna "Annie"                               female 15  0
24  Sandstrom, Miss. Marguerite Ru&5$$                        female 4   1
25  Palsson, Miss. Torborg Danira                             female 8   3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 38  1
27  Emir, Mr. Farred Chehab                                   male       0
28  Fortune, Mr. Charles Alexander                            male   19  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female     0
30  Todoroff, Mr. Lalio                                       male       0
... ...                                                       ...    ... ...
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 48  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female     8
865 Gill, Mr. John William                                    male   24  0
866 Bystrom, Mrs. (Karolina)                                  female 42  0
867 Duran y More, Miss. Asuncion                              female 27  1
868 Roebling, Mr. Washington Augustus II                      male   31  0
869 van Melkebeke, Mr. Philemon                               male       0
870 Johnson, Master. Harold Theodor                           male   4   1
871 Balkic, Mr. Cerin                                         male   26  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 47  1
873 Carlsson, Mr. Frans Olof                                  male   33  0
874 Vander Cruyssen, Mr. Victor                               male   47  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 28  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 15  0
877 Gustafsson, Mr. Alfred Ossian                             male   20  0
878 Petroff, Mr. Nedelio                                      male   19  0
879 Laleff, Mr. Kristo                                        male       0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 56  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 25  0
882 Markun, Mr. Johann                                        male   33  0
883 Dahlberg, Miss. Gerda Ulrika                              female 22  0
884 Banfield, Mr. Frederick James                             male   28  0
885 Sutehall, Mr. Henry Jr                                    male   25  0
886 Rice, Mrs. William (Margaret Norton)                      female 39  0
887 Montvila, Rev. Juozas                                     male   27  0
888 Graham, Miss. Margaret Edith                              female 19  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female     1
890 Behr, Mr. Karl Howell                                     male   26  0
891 Dooley, Mr. Patrick                                       male   32  0
892 Mr. Frederick Maxfield Hoyt                               male   38  1
    Parch Ticket           Fare    Cabin       Embarked ship
1   0     A/5 21171        7,25                S        Titanic
2   0     PC 17599         71,2833 C85         C        Titanic
3   0     STON/O2. 3101282 7,925               S        Titanic
4   0     113803           53,1    C123        S        Titanic
5   0     373450           8,05                S        Titanic
6   0     330877           8,4583              Q        Titanic
7   0     17463            51,8625 E46         S        Titanic
8   1     349909           21,075              S        Titanic
9   2     347742           11,1333             S        Titanic
10  0     237736           30,0708             C        Titanic
11  1     PP 9549          16,7    G6          S        Titanic
12  0     113783           26,55   C103        S        Titanic
13  0     A/5. 2151        8,05                S        Titanic
14  1     PP 9549          16,7    G6          S        Titanic
15  0     350406           7,8542              S        Titanic
16  0     248706           16                  S        Titanic
17  1     382652           29,125              Q        Titanic
18  0     244373           13                  So       Titanic
19  0     345763           18                  S        Titanic
20  0     2649             7,225               C        Titanic
21  0     239865           26                  S        Titanic
22  0     248698           13      D56         S        Titanic
23  0     330923           8,0292              Q        Titanic
24  1     PP 9549          16,7    G6          S        Titanic
25  1     349909           21,075              S        Titanic
26  5     347077           31,3875             S        Titanic
27  0     2631             7,225               C        Titanic
28  2     19950            263     C23 C25 C27 S        Titanic
29  0     330959           7,8792              Q        Titanic
30  0     349216           7,8958              S        Titanic
... ...   ...              ...     ...         ...      ...
863 0     17466            25,9292 D17         S        Titanic
864 2     CA. 2343         69,55               S        Titanic
865 0     233866           13                  S        Titanic
866 0     236852           13                  S        Titanic
867 0     SC/PARIS 2149    13,8583             C        Titanic
868 0     PC 17590         50,4958 A24         S        Titanic
869 0     345777           9,5                 S        Titanic
870 1     347742           11,1333             S        Titanic
871 0     349248           7,8958              S        Titanic
872 1     11751            52,5542 D35         S        Titanic
873 0     695              5       B51 B53 B55 S        Titanic
874 0     345765           9                   S        Titanic
875 0     P/PP 3381        24                  C        Titanic
876 0     2667             7,225               C        Titanic
877 0     7534             9,8458              S        Titanic
878 0     349212           7,8958              S        Titanic
879 0     349217           7,8958              S        Titanic
880 1     11767            83,1583 C50         C        Titanic
881 1     230433           26                  S        Titanic
882 0     349257           7,8958              S        Titanic
883 0     7552             10,5167             S        Titanic
884 0     C.A./SOTON 34068 10,5                S        Titanic
885 0     SOTON/OQ 392076  7,05                S        Titanic
886 5     382652           29,125              Q        Titanic
887 0     211536           13                  S        Titanic
888 0     112053           30      B42         S        Titanic
889 2     W./C. 6607       23,45               S        Titanic
890 0     111369           30      C148        C        Titanic
891 0     370376           7,75                Q        Titanic
892 0     19943            90      C93         S        Titanic

<h4>Podsumowanie wczytanego zbioru</h4>

In [3]:
summary(messyData)

  PassengerId        Survived          Pclass
 Min.   :   1.0   Min.   :0.0000   Min.   :1.000
 1st Qu.: 223.8   1st Qu.:0.0000   1st Qu.:2.000
 Median : 444.5   Median :0.0000   Median :3.000
 Mean   : 445.8   Mean   :0.3868   Mean   :2.307
 3rd Qu.: 668.2   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :1000.0   Max.   :1.0000   Max.   :3.000

                                 Name          Sex           Age
 Sandstrom, Miss. Marguerite Ru&5$$:  3   fem    :  1          :173
 Hoyt, Mr. Frederick Maxfield      :  2   female :312   24     : 30
 Abbing, Mr. Anthony               :  1   femmale:  1   22     : 27
 Abbott, Mr. Rossmore Edward       :  1   mal    :  1   18     : 26
 Abbott, Mrs. Stanton (Rosa Hunt)  :  1   male   :576   19     : 25
 Abelson, Mr. Samuel               :  1   malef  :  1   21     : 24
 (Other)                           :883                 (Other):587
     SibSp            Parch             Ticket         Fare
 Min.   :0.0000   Min.   :0.0000   1601    :  7   8,05   : 43
 1st Qu.:0.0000   1st Qu.:0.0000   CA. 2343:  7   13     : 42
 Median :0.0000   Median :0.0000   3101295 :  6   7,8958 : 38
 Mean   :0.5258   Mean   :0.3711   347082  :  6   7,75   : 34
 3rd Qu.:1.0000   3rd Qu.:0.0000   347088  :  6   26     : 31
 Max.   :8.0000   Max.   :5.0000   19943   :  5   10,5   : 24
                                   (Other) :855   (Other):680
         Cabin     Embarked      ship
            :685     :  2   Titanic:892
 G6         :  6   C :167
 C93        :  5   Co:  1
 B96 B98    :  4   Q : 76
 C23 C25 C27:  4   Qe:  1
 C22 C26    :  3   S :643
 (Other)    :185   So:  2

<h4>Sprawdzono dla kt√≥rych atrybut√≥w wystƒôpujƒÖ brakujƒÖce warto≈õci, w celu odsiania atrbut√≥w zapewniajƒÖcych zbyt ma≈ÇƒÖ ilo≈õƒá informacji.<br>
Atrybuty, dla kt√≥rych brakuje wiƒôcej ni≈º 60 procent pozycji zostanƒÖ usuniƒôte. Zauwa≈ºalnie, w kolumnie z warto≈õciami arybutu "Cabin" istnieje a≈º 76,79 procent brakjƒÖcych warto≈õci. Atrybut zostanie usuniƒôty. <br>
Dla atrybut√≥w "Age" oraz "Embarked" r√≥wnie≈º istnieje pewien procent brakujƒÖcych warto≈õci. W dalszej czƒô≈õci przygotowania zbioru danych zostanƒÖ one naprawione.</h4>

In [4]:
for (i in colnames(messyData)){
  a <- round(sum(messyData[i]=="")/nrow(messyData)*100,2)
  print(i)
  print (a)}

[1] "PassengerId"
[1] 0
[1] "Survived"
[1] 0
[1] "Pclass"
[1] 0
[1] "Name"
[1] 0
[1] "Sex"
[1] 0
[1] "Age"
[1] 19.39
[1] "SibSp"
[1] 0
[1] "Parch"
[1] 0
[1] "Ticket"
[1] 0
[1] "Fare"
[1] 0
[1] "Cabin"
[1] 76.79
[1] "Embarked"
[1] 0.22
[1] "ship"
[1] 0

In [5]:
messyData <- subset(messyData, select = -c(Cabin))

<h4>Struktura zbioru danych<h4>

In [6]:
str(messyData)

'data.frame':	892 obs. of  12 variables:
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : Factor w/ 889 levels "Abbing, Mr. Anthony",..: 108 190 356 276 16 558 519 629 416 581 ...
 $ Sex        : Factor w/ 6 levels "fem","female",..: 5 2 2 2 5 5 5 5 2 2 ...
 $ Age        : Factor w/ 94 levels "","-12","-3",..: 26 51 33 47 47 1 72 22 34 15 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : Factor w/ 680 levels "110152","110413",..: 523 596 669 49 472 275 85 395 344 132 ...
 $ Fare       : Factor w/ 250 levels "-90","0","10,1708",..: 177 202 200 145 214 222 141 70 9 107 ...
 $ Embarked   : Factor w/ 7 levels "","C","Co","Q",..: 6 2 6 6 6 4 6 6 6 2 ...
 $ ship       : Factor w/ 1 level "Titanic": 1 1 1 1 1 1 1 1 1 1 ...

<h4>Zmiana typu danych<br>
Atrybut "Age" widnieje w zadanym zbiorze jako atrybut typu Factor. W ramach czyszczenia danych zosta≈Ç przekonwertowany na atrybut numeryczny</h4>

In [7]:
messyData$Age <- as.numeric(messyData$Age)

<h4>Duplikaty<br>
Sprawdzono czy w "popsutym" zbiorze danych znajdujƒÖ siƒô zduplikowane wiersze.</h4>

In [8]:
sum(duplicated(messyData))

[1] 3

<h4>Po sprawdzeniu, zduplikowane wiersze zosta≈Çy usuniƒôte.</h4>

In [9]:
messyData<-messyData[!duplicated(messyData),]
messyData

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
31  31          0        1
32  32          1        1
... ...         ...      ...
863  863        1        1
864  864        0        3
865  865        0        2
866  866        1        2
867  867        1        2
868  868        0        1
869  869        0        3
870  870        1        3
871  871        0        3
872  872        1        1
873  873        0        1
874  874        0        3
875  875        1        2
876  876        1        3
877  877        0        3
878  878        0        3
879  879        0        3
880  880        1        1
881  881        1        2
882  882        0        3
883  883        0        3
884  884        0        2
885  885        0        3
886  886        0        3
887  887        0        2
888  888        1        1
889  889        0        3
890  890        1        1
891  891        0        3
892 1000        1        1
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   26  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 51  1
3   Heikkinen, Miss. Laina                                    female 33  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 47  1
5   Allen, Mr. William Henry                                  male   47  0
6   Moran, Mr. James                                          male    1  0
7   McCarthy, Mr. Timothy J                                   male   72  0
8   Palsson, Master. Gosta Leonard                            male   22  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 34  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 15  1
11  Sandstrom, Miss. Marguerite Ru&5$$                        female 53  1
12  Bonnell, Miss. Elizabeth                                  female 77  0
13  Saundercock, Mr. William Henry                            male   23  0
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 15  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 73  0
17  Rice, Master. Eugene                                      male   22  4
18  Williams, Mr. Charles Eugene                              male    1  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 41  1
20  Masselmani, Mrs. Fatima                                   female  1  0
21  Fynney, Mr. Joseph J                                      male   47  0
22  Beesley, Mr. Lawrence                                     malef  45  0
23  McGowan, Miss. Anna "Annie"                               female 17  0
25  Palsson, Miss. Torborg Danira                             female 92  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 51  1
27  Emir, Mr. Farred Chehab                                   male    1  0
28  Fortune, Mr. Charles Alexander                            male   21  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female  1  0
30  Todoroff, Mr. Lalio                                       male    1  0
31  Uruchurtu, Don. Manuel E                                  male   54  0
32  Spencer, Mrs. William Augustus (Marie Eugenie)            female  4  1
... ...                                                       ...    ... ...
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 65  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female  1  8
865 Gill, Mr. John William                                    male   29  0
866 Bystrom, Mrs. (Karolina)                                  female 57  0
867 Duran y More, Miss. Asuncion                              female 34  1
868 Roebling, Mr. Washington Augustus II                      male   41  0
869 van Melkebeke, Mr. Philemon                               male    1  0
870 Johnson, Master. Harold Theodor                           male   53  1
871 Balkic, Mr. Cerin                                         male   33  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 64  1
873 Carlsson, Mr. Frans Olof                                  male   44  0
874 Vander Cruyssen, Mr. Victor                               male   64  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 35  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 17  0
877 Gustafsson, Mr. Alfred Ossian                             male   23  0
878 Petroff, Mr. Nedelio                                      male   21  0
879 Laleff, Mr. Kristo                                        male    1  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 75  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 31  0
882 Markun, Mr. Johann                                        male   44  0
883 Dahlberg, Miss. Gerda Ulrika                              female 26  0
884 Banfield, Mr. Frederick James                             male   35  0
885 Sutehall, Mr. Henry Jr                                    male   31  0
886 Rice, Mrs. William (Margaret Norton)                      female 52  0
887 Montvila, Rev. Juozas                                     male   34  0
888 Graham, Miss. Margaret Edith                              female 21  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female  1  1
890 Behr, Mr. Karl Howell                                     male   33  0
891 Dooley, Mr. Patrick                                       male   42  0
892 Mr. Frederick Maxfield Hoyt                               male   51  1
    Parch Ticket           Fare     Embarked ship
1   0     A/5 21171        7,25     S        Titanic
2   0     PC 17599         71,2833  C        Titanic
3   0     STON/O2. 3101282 7,925    S        Titanic
4   0     113803           53,1     S        Titanic
5   0     373450           8,05     S        Titanic
6   0     330877           8,4583   Q        Titanic
7   0     17463            51,8625  S        Titanic
8   1     349909           21,075   S        Titanic
9   2     347742           11,1333  S        Titanic
10  0     237736           30,0708  C        Titanic
11  1     PP 9549          16,7     S        Titanic
12  0     113783           26,55    S        Titanic
13  0     A/5. 2151        8,05     S        Titanic
15  0     350406           7,8542   S        Titanic
16  0     248706           16       S        Titanic
17  1     382652           29,125   Q        Titanic
18  0     244373           13       So       Titanic
19  0     345763           18       S        Titanic
20  0     2649             7,225    C        Titanic
21  0     239865           26       S        Titanic
22  0     248698           13       S        Titanic
23  0     330923           8,0292   Q        Titanic
25  1     349909           21,075   S        Titanic
26  5     347077           31,3875  S        Titanic
27  0     2631             7,225    C        Titanic
28  2     19950            263      S        Titanic
29  0     330959           7,8792   Q        Titanic
30  0     349216           7,8958   S        Titanic
31  0     PC 17601         27,7208  C        Titanic
32  0     PC 17569         146,5208 C        Titanic
... ...   ...              ...      ...      ...
863 0     17466            25,9292  S        Titanic
864 2     CA. 2343         69,55    S        Titanic
865 0     233866           13       S        Titanic
866 0     236852           13       S        Titanic
867 0     SC/PARIS 2149    13,8583  C        Titanic
868 0     PC 17590         50,4958  S        Titanic
869 0     345777           9,5      S        Titanic
870 1     347742           11,1333  S        Titanic
871 0     349248           7,8958   S        Titanic
872 1     11751            52,5542  S        Titanic
873 0     695              5        S        Titanic
874 0     345765           9        S        Titanic
875 0     P/PP 3381        24       C        Titanic
876 0     2667             7,225    C        Titanic
877 0     7534             9,8458   S        Titanic
878 0     349212           7,8958   S        Titanic
879 0     349217           7,8958   S        Titanic
880 1     11767            83,1583  C        Titanic
881 1     230433           26       S        Titanic
882 0     349257           7,8958   S        Titanic
883 0     7552             10,5167  S        Titanic
884 0     C.A./SOTON 34068 10,5     S        Titanic
885 0     SOTON/OQ 392076  7,05     S        Titanic
886 5     382652           29,125   Q        Titanic
887 0     211536           13       S        Titanic
888 0     112053           30       S        Titanic
889 2     W./C. 6607       23,45    S        Titanic
890 0     111369           30       C        Titanic
891 0     370376           7,75     Q        Titanic
892 0     19943            90       S        Titanic

In [10]:
sum(duplicated(messyData))

[1] 0

<h4> Naprawa brakujƒÖcych warto≈õci w atrybutach "Age" oraz "Embarked".<br>
Zauwa≈ºyƒá mo≈ºna, jak do tej pory ustalono, ≈ºe dla atrybutu "Age" istnieje prawie 20 procent brakuƒÖcych warto≈õci w ramach zbioru, a dla atrybutu "Embarked" nie jest to nawet p√≥≈Ç punkta procentowego. Nale≈ºy do obu przypadk√≥w podej≈õƒá indywidualnie.<br>
Braki w atrybucie "Embarked" zostanƒÖ naprawione poprzez uzupe≈Çnienie warto≈õciƒÖ (kategorialnƒÖ) najczƒô≈õciej wystƒôpujƒÖcƒÖ w atrybucie - jest to symbol "S", znacznie przewy≈ºszajƒÖcy liczbowo wystƒÖpienia pozosta≈Çych warto≈õci.</h4>

In [11]:
summary(messyData$Embarked)

      C  Co   Q  Qe   S  So
  2 167   1  76   1 640   2

In [12]:
messyData$Embarked [messyData$Embarked == ''] <- names(which.max(table(messyData$Embarked)))

<h4>Dla numerycznego atrybutu "Age" sprawdzono warto≈õƒá najczƒô≈õciej wystƒôpujƒÖcƒÖ oraz medianƒô.</h4>

In [13]:
mean(messyData$Age)
median(messyData$Age)

[1] 33.88076

[1] 33

<h4>Wyszukane warto≈õci sƒÖ podobne, braki w atrybucie "Age" zostanƒÖ zamienione na warto≈õƒá najczƒô≈õciej wystƒôpujƒÖcƒÖ w zbiorze.</h4>

In [14]:
messyData$Age [messyData$Age == ''] <- median(messyData$Age)

<h4> Po uzupe≈Çnieniu warto≈õci w brakujƒÖcych atrybutach sprawdzono aktualny stan ewentualnych brak√≥w w zbiorze.</h4>

In [15]:
for (i in colnames(messyData)){
  a <- round(sum(messyData[i]=="")/nrow(messyData)*100,2)
  print(i)
  print (a)}

[1] "PassengerId"
[1] 0
[1] "Survived"
[1] 0
[1] "Pclass"
[1] 0
[1] "Name"
[1] 0
[1] "Sex"
[1] 0
[1] "Age"
[1] 0
[1] "SibSp"
[1] 0
[1] "Parch"
[1] 0
[1] "Ticket"
[1] 0
[1] "Fare"
[1] 0
[1] "Embarked"
[1] 0
[1] "ship"
[1] 0

<h4>Poprawa liter√≥wek<br>
Zauwa≈ºyƒá mo≈ºna, ≈ºe w≈õr√≥d warto≈õci atrybutu "Sex" wystƒôpujƒÖ b≈Çƒôdne ≈Ça≈Ñcuchy znak√≥w. Docelowo, powinien byƒá to atrybut dychtomiczny - z warto≈õciami "female" oraz "male". </h4>

In [16]:
summary(messyData$Sex)

    fem  female femmale     mal    male   malef
      1     310       1       1     575       1

In [17]:
messyData$Sex [messyData$Sex == 'fem'] <- 'female'
messyData$Sex [messyData$Sex == 'femmale'] <- 'female'

messyData$Sex [messyData$Sex == 'mal'] <- 'male'
messyData$Sex [messyData$Sex == 'malef'] <- 'male'

In [18]:
summary(messyData$Sex)

    fem  female femmale     mal    male   malef
      0     312       0       0     577       0

<h4>Zauwa≈ºono i poprawiono analogicznie wystƒôpujƒÖce liter√≥wki w≈õr√≥d warto≈õci atrybutu "Embarked".<br>
Mo≈ºemy za≈Ço≈ºyƒá, ≈ºe warto≈õƒá "Qe" to liter√≥wka poczyniona podczas wprowadzania symbolu "Q".</h4>

In [19]:
summary(messyData$Embarked)

      C  Co   Q  Qe   S  So
  0 167   1  76   1 642   2

In [20]:
messyData$Embarked [messyData$Embarked == 'Co'] <- 'C'
messyData$Embarked [messyData$Embarked == 'Qe'] <- 'Q'
messyData$Embarked [messyData$Embarked == 'So'] <- 'S'

In [21]:
summary(messyData$Embarked)

      C  Co   Q  Qe   S  So
  0 168   0  77   0 644   0

<h4>B≈Çƒôdne znaki<br>
Mo≈ºemy zauwa≈ºyƒá, ≈ºe w≈õr√≥d niekt√≥rch atrybut√≥w, prawdopodobnie przypadkowo, znalaz≈Çy siƒô b≈Çƒôdne warto≈õci. Przyk≈Çadem, w≈õr√≥d warto≈õci atrybutu "Age" mo≈ºemy znale≈∫ƒá warto≈õci ujemne. W ramach analizy za≈Ço≈ºono, ≈ºe symbole "-" oraz "." zosta≈Çy wprowadzone jak liter√≥wki, wiƒôc w ramach czyszczenia zbioru danych podane symbole zostanƒÖ usuniƒôte.</h4>

In [22]:
messyData$Age <- abs(messyData$Age)

<h3>Podsumowanie</h3>

<h4>W ramach czyszczenia zbioru danych wykonano, co nastƒôpuje:<br>
    - usuniƒôto zduplikowane wiersze w zbiorze;<br>
    - sprawdzono strukturƒô zbioru oraz zmieniono typ atrybutu "Age" z Factor na atrybut numeryczny;<br>
    - sprawdzono rzƒôdy wielko≈õci brak√≥w w ka≈ºdej z kolumn zbioru, na podstawie czego usuniƒôty z analizy zosta≈Ç atrybut "Cabin", ze wzglƒôdu na zbyt du≈ºy procent brak√≥w (ponad 77 procent);<br>
    - dokonano podmiany brakujƒÖcych warto≈õci w atrybutach "Age" oraz "Embarked";<br>
    - dokonano naprawy wystƒôpujƒÖcych liter√≥wek w atrybutach "Sex" oraz "Embarked";
    - dokonano zmian w warto≈õciach atrybutu "Age", tak aby nie zaburza≈Çy rzeczywistego stanu danych (ujemne warto≈õci).</h4>

<h4>Wyczyszczone dane</h4>

In [24]:
cleanedData <- messyData
cleanedData

    PassengerId Survived Pclass
1    1          0        3
2    2          1        1
3    3          1        3
4    4          1        1
5    5          0        3
6    6          0        3
7    7          0        1
8    8          0        3
9    9          1        3
10  10          1        2
11  11          1        3
12  12          1        1
13  13          0        3
15  15          0        3
16  16          1        2
17  17          0        3
18  18          1        2
19  19          0        3
20  20          1        3
21  21          0        2
22  22          1        2
23  23          1        3
25  25          0        3
26  26          1        3
27  27          0        3
28  28          0        1
29  29          1        3
30  30          0        3
31  31          0        1
32  32          1        1
... ...         ...      ...
863  863        1        1
864  864        0        3
865  865        0        2
866  866        1        2
867  867        1        2
868  868        0        1
869  869        0        3
870  870        1        3
871  871        0        3
872  872        1        1
873  873        0        1
874  874        0        3
875  875        1        2
876  876        1        3
877  877        0        3
878  878        0        3
879  879        0        3
880  880        1        1
881  881        1        2
882  882        0        3
883  883        0        3
884  884        0        2
885  885        0        3
886  886        0        3
887  887        0        2
888  888        1        1
889  889        0        3
890  890        1        1
891  891        0        3
892 1000        1        1
    Name                                                      Sex    Age SibSp
1   Braund, Mr. Owen Harris                                   male   26  1
2   Cumings, Mrs. John Bradley (Florence Briggs Thayer)       female 51  1
3   Heikkinen, Miss. Laina                                    female 33  0
4   Futrelle, Mrs. Jacques Heath (Lily May Peel)              female 47  1
5   Allen, Mr. William Henry                                  male   47  0
6   Moran, Mr. James                                          male    1  0
7   McCarthy, Mr. Timothy J                                   male   72  0
8   Palsson, Master. Gosta Leonard                            male   22  3
9   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)         female 34  0
10  Nasser, Mrs. Nicholas (Adele Achem)                       female 15  1
11  Sandstrom, Miss. Marguerite Ru&5$$                        female 53  1
12  Bonnell, Miss. Elizabeth                                  female 77  0
13  Saundercock, Mr. William Henry                            male   23  0
15  Vestrom, Miss. Hulda Amanda Adolfina                      female 15  0
16  Hewlett, Mrs. (Mary D Kingcome)                           female 73  0
17  Rice, Master. Eugene                                      male   22  4
18  Williams, Mr. Charles Eugene                              male    1  0
19  Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)   female 41  1
20  Masselmani, Mrs. Fatima                                   female  1  0
21  Fynney, Mr. Joseph J                                      male   47  0
22  Beesley, Mr. Lawrence                                     male   45  0
23  McGowan, Miss. Anna "Annie"                               female 17  0
25  Palsson, Miss. Torborg Danira                             female 92  3
26  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) female 51  1
27  Emir, Mr. Farred Chehab                                   male    1  0
28  Fortune, Mr. Charles Alexander                            male   21  3
29  O'Dwyer, Miss. Ellen "Nellie"                             female  1  0
30  Todoroff, Mr. Lalio                                       male    1  0
31  Uruchurtu, Don. Manuel E                                  male   54  0
32  Spencer, Mrs. William Augustus (Marie Eugenie)            female  4  1
... ...                                                       ...    ... ...
863 Swift, Mrs. Frederick Joel (Margaret Welles Barron)       female 65  0
864 Sage, Miss. Dorothy Edith "Dolly"                         female  1  8
865 Gill, Mr. John William                                    male   29  0
866 Bystrom, Mrs. (Karolina)                                  female 57  0
867 Duran y More, Miss. Asuncion                              female 34  1
868 Roebling, Mr. Washington Augustus II                      male   41  0
869 van Melkebeke, Mr. Philemon                               male    1  0
870 Johnson, Master. Harold Theodor                           male   53  1
871 Balkic, Mr. Cerin                                         male   33  0
872 Beckwith, Mrs. Richard Leonard (Sallie Monypeny)          female 64  1
873 Carlsson, Mr. Frans Olof                                  male   44  0
874 Vander Cruyssen, Mr. Victor                               male   64  0
875 Abelson, Mrs. Samuel (Hannah Wizosky)                     female 35  1
876 Najib, Miss. Adele Kiamie "Jane"                          female 17  0
877 Gustafsson, Mr. Alfred Ossian                             male   23  0
878 Petroff, Mr. Nedelio                                      male   21  0
879 Laleff, Mr. Kristo                                        male    1  0
880 Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)             female 75  0
881 Shelley, Mrs. William (Imanita Parrish Hall)              female 31  0
882 Markun, Mr. Johann                                        male   44  0
883 Dahlberg, Miss. Gerda Ulrika                              female 26  0
884 Banfield, Mr. Frederick James                             male   35  0
885 Sutehall, Mr. Henry Jr                                    male   31  0
886 Rice, Mrs. William (Margaret Norton)                      female 52  0
887 Montvila, Rev. Juozas                                     male   34  0
888 Graham, Miss. Margaret Edith                              female 21  0
889 Johnston, Miss. Catherine Helen "Carrie"                  female  1  1
890 Behr, Mr. Karl Howell                                     male   33  0
891 Dooley, Mr. Patrick                                       male   42  0
892 Mr. Frederick Maxfield Hoyt                               male   51  1
    Parch Ticket           Fare     Embarked ship
1   0     A/5 21171        7,25     S        Titanic
2   0     PC 17599         71,2833  C        Titanic
3   0     STON/O2. 3101282 7,925    S        Titanic
4   0     113803           53,1     S        Titanic
5   0     373450           8,05     S        Titanic
6   0     330877           8,4583   Q        Titanic
7   0     17463            51,8625  S        Titanic
8   1     349909           21,075   S        Titanic
9   2     347742           11,1333  S        Titanic
10  0     237736           30,0708  C        Titanic
11  1     PP 9549          16,7     S        Titanic
12  0     113783           26,55    S        Titanic
13  0     A/5. 2151        8,05     S        Titanic
15  0     350406           7,8542   S        Titanic
16  0     248706           16       S        Titanic
17  1     382652           29,125   Q        Titanic
18  0     244373           13       S        Titanic
19  0     345763           18       S        Titanic
20  0     2649             7,225    C        Titanic
21  0     239865           26       S        Titanic
22  0     248698           13       S        Titanic
23  0     330923           8,0292   Q        Titanic
25  1     349909           21,075   S        Titanic
26  5     347077           31,3875  S        Titanic
27  0     2631             7,225    C        Titanic
28  2     19950            263      S        Titanic
29  0     330959           7,8792   Q        Titanic
30  0     349216           7,8958   S        Titanic
31  0     PC 17601         27,7208  C        Titanic
32  0     PC 17569         146,5208 C        Titanic
... ...   ...              ...      ...      ...
863 0     17466            25,9292  S        Titanic
864 2     CA. 2343         69,55    S        Titanic
865 0     233866           13       S        Titanic
866 0     236852           13       S        Titanic
867 0     SC/PARIS 2149    13,8583  C        Titanic
868 0     PC 17590         50,4958  S        Titanic
869 0     345777           9,5      S        Titanic
870 1     347742           11,1333  S        Titanic
871 0     349248           7,8958   S        Titanic
872 1     11751            52,5542  S        Titanic
873 0     695              5        S        Titanic
874 0     345765           9        S        Titanic
875 0     P/PP 3381        24       C        Titanic
876 0     2667             7,225    C        Titanic
877 0     7534             9,8458   S        Titanic
878 0     349212           7,8958   S        Titanic
879 0     349217           7,8958   S        Titanic
880 1     11767            83,1583  C        Titanic
881 1     230433           26       S        Titanic
882 0     349257           7,8958   S        Titanic
883 0     7552             10,5167  S        Titanic
884 0     C.A./SOTON 34068 10,5     S        Titanic
885 0     SOTON/OQ 392076  7,05     S        Titanic
886 5     382652           29,125   Q        Titanic
887 0     211536           13       S        Titanic
888 0     112053           30       S        Titanic
889 2     W./C. 6607       23,45    S        Titanic
890 0     111369           30       C        Titanic
891 0     370376           7,75     Q        Titanic
892 0     19943            90       S        Titanic

<h4>Zapis do pliku TitanicCleaned.tsv</h4>

In [27]:
write.table(messyData, file="TitanicCleaned.tsv", sep="\t", col.names = TRUE)